// Specific CSS for your home-page

body {
  background-color: #faebd76b;
}

.landing-main {
  width: 1000px;
  margin: auto;
}

.info-container {
  border: 1px solid blue;
  margin: 80px 0;
  background-color: white;
}
