.show-container {
  margin: 40px 80px;
  justify-content: center;
  // background-color: white;
}

.show-h1 {
  text-align: center;
  margin-top: 25px;
}

.left-container {
  width: 450px;
  margin-right: 10px;
  // border: 1px solid red;
}

.right-container {
  width: 450px;
  margin-left: 10px;
  // border: 1px solid red;
}

// .right-container h2 {
//   text-align: center;
// }

.show-img {
  width: 336px;
  margin-bottom: 10px;
  border-radius: 8px;
}
