<div class="container">
  <h4 style="text-align: center; margin-top: 25px;">Your search returned the following recipes:</h4>
      <div class="recipe-cards">
        <% @recipes.first(15).each do |recipe| %>
          <div class="card-product">
            <img src="<%= recipe['image']%>" style="width: 250px; height: 180px;" alt="#">
            <h2><%= recipe['title'].capitalize %></h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
