<div class="banner-home">
  <h1>WhatToCook.</h1>
  <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h3>
  <a href="#" class="banner-btn"><%= link_to 'Get Started', index_path %></a>
</div>

<div class="landing-main">
  <div class="info-container">
    <h2>What is WhatToCook?</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque inventore repudiandae suscipit debitis dolores aperiam maxime quia odit, architecto eius nemo quis ut labore. Assumenda voluptatum quia dolore ducimus ipsa.</p>
  </div>

  <div class="info-container">
    <h2>Getting Started</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque inventore repudiandae suscipit debitis dolores aperiam maxime quia odit, architecto eius nemo quis ut labore. Assumenda voluptatum quia dolore ducimus ipsa.</p>
  </div>

  <div class="info-container">
    <h2>Third block of text</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque inventore repudiandae suscipit debitis dolores aperiam maxime quia odit, architecto eius nemo quis ut labore. Assumenda voluptatum quia dolore ducimus ipsa.</p>
  </div>
</div>
