.recipe-cards-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-product {
  padding-top: 10px;
  width: 250px;
  height: 200px;
  text-align: center;
  margin: 15px;
  border: 1px solid #77C339;
  background-color: white;
  border-radius: 16px;
}

.card-img {
  width: 180px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.card-product a {
  text-decoration: none;
  color: black;
}
